/*
Esto un comentario
selector{
propiedad:valor;
propiedad:valor;
propiedad:valor;
...
}
*/
p{
color:#17120c;
}
body
{   background-image: linear-gradient(to right, #2f2418, #8c6d47);
    
@font-face 
 font-family:'Birthday'
src: url (FONT/Birthday.ttf)format('truetype');
    
@font-face 
 font-family:'Lamarkie'
src: url(FONT/Lamarkie.otf)format('opentype');
    }
h1 {
 font-family: 'Birthday';
     
}
h1{
     margin-left:470px;
    font-size: 175px;   
}

h2{
 font-family: 'Lamarkie';
     
}
h2{
    font-size: 30px;
    margin-left:520px;
    padding:0px;

}
h1, h2 {
    margin-bottom: 0;
}

header,main,footer{
background:#8c6d47;
padding:20px;
}
nav {
    font-size: 10px;
  text-align: right;
    font-family: 'Lamarkie'
}
nav ul{
list-style-type:none;
margin-left: 20px;
padding:0px;
}
nav ul li a{
color:#17120c;
text-decoration:none;
text-transform:uppercase;
font-weight:bold;
    
}
nav ul li{
display:inline-block;
    margin-left: 20px;
padding:5px;
}
h3{
  font-size: 25px; 
    font-family: 'Lamarkie' 
}
h4{
  font-size: 15px; 
    font-family: 'Lamarkie' 
}

p{
    text-align:justify;
} 
#pancarta{
    width:100%;
    height:300px;
    background:rgb(220,220,220);
    border-radius:10px;
    box-sizing: border-box;
    padding:30px;
}
.imagen{
width:90%;
height:300px;
background:rgb(220,220,220);
border-radius:10px;
padding:30px;
margin-bottom:20px;    
background-size:cover;
background-position:center center;
} 
#pancarta{
    background:url("imagenes/luna.jpg");
    background-size:cover;
    background-position:center center;
}
.imagen{
    background:url("imagenes/luna.jpg");
    background-size:cover;
    background-position:center center;
}
time{
    font-size:10px;
}
article{
    margin-top:50px;
}
#pancarta h3{
    margin-top:100px;
    color:white;
    text-shadow:0px 3px 6px black;
    font-size:40px;
    margin-left:0px;
}
#pancarta h4{
    color:white;
    text-shadow:0px 3px 6px black;
    font-size:20px;
    margin-left:0px;
}
footer{
    list-style-type:none;
    padding:30px;
   text-decoration:none;
text-transform:uppercase; 
    text-align: right
}

li a {
    color:#17120c;
text-decoration:none;
text-transform:uppercase;
font-weight:bold;
}
footer li {
    display:inline-block;
    margin-left:30px;
    
}
/* esto es para que dependiendo del tamaño de la pantalla mantenga un tamaño la estructura y el margin auto es para que se ubique siempre en el medio del navegador*/
header, footer, main{
    max-width:1000px;
    margin:auto;
    /* la siguiente etique sirve para decir lo que le pasa al proyecto cuando superaciertas condiciones*/
    /* Estilos para pantallas pequeñas */
   @media only screen and (min-width: 600px) {
    article{
        box-sizing:border-box;
        display:inline-block;
        width:50%;
        padding:20px;
        vertical-align:top;
    }
}
@media only screen and (min-width: 900px) {
    article{
        box-sizing:border-box;
        display:inline-block;
        width:33%;
        padding:20px;
        vertical-align:top;
    }
    video{
        display:block;
    }
    #pancarta{
        display:none;
    }
    #articulos{
        padding-top:600px;
    }
    header{
        position:relative;
        z-index:1000;
        background:none;
    }
}
@media only screen and (max-width: 900px) {
    
    video{
        display:none;
    }
    #pancarta{
        display:block;
    }
    
video{
    width:80%;
    border-radius:10px;
}
body{
    background:url("img/fondo1.jpg");
}
video{
    position:absolute;
    width:100%;
    left:0px;
    top:0px;
    border-radius:0px;   
}
     .video-container {
  width: 80%; /* Establece el ancho del contenedor al 80% del ancho de la ventana */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  border: 1px solid #ccc; /* Agrega un borde para visualizar el contenedor */
}
main{
    
}